<div class="wrapper">
    <div class="container">
        <div class="panel">
            <div class="panel-body">
                <div class="text-center">
                    <h3><i class="fas fa-key fa-4x"></i></h3>
                    <h2 class="text-center">Change Password</h2>
                    <p>Type old password and then your new password</p>
                    <div class="panel-body">

                        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                            <fieldset>
                                <div class="form-group">
                                    <input type="password" class="form-control col" placeholder="Old Password" name="oldpassword" [ngClass]="{ 'is-invalid': oldpassword.invalid && oldpassword.touched, 'is-valid':  oldpassword.touched && oldpassword.valid  }" formControlName="oldpassword"
                                    />
                                    <div *ngIf="oldpassword.invalid && cpassword.touched" class="invalid-feedback">
                                        <p>Invalid Input</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control col" placeholder="Password" name="password" formControlName="password" [ngClass]="{ 'is-invalid': password.invalid && password.touched, 'is-valid': password.valid  }" />
                                    <div *ngIf="password.errors && (password.touched || password.dirty )" class="invalid-feedback">
                                        <p *ngIf="password.hasError('required')">Password required</p>
                                        <p *ngIf="password.hasError('minlength')">Password should contain minimum 6 letters</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control col" placeholder="Retype Password" name="cpassword" [ngClass]="{ 'is-invalid': (passwordForm.hasError('mismatch') || cpassword.invalid) && cpassword.touched, 'is-valid': !passwordForm.hasError('mismatch') && cpassword.touched && cpassword.valid  }"
                                        formControlName="cpassword" />
                                    <div *ngIf="(passwordForm.hasError('mismatch') || cpassword.invalid) && cpassword.touched" class="invalid-feedback">
                                        <p>Password Mismatch</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" [disabled]="passwordForm.invalid" value="Update Password" type="submit">
                                </div>
                                <div>
                                    <div *ngIf="passwordFormSubmitted && updation" class="alert alert-dismissible alert-success">{{message}}</div>
                                    <div *ngIf="passwordFormSubmitted && !updation" class="alert alert-dismissible alert-warning">{{message}}</div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>>